@model Buses.Entities.ItinerarioViaje
@{
    ViewData["Title"] = "Asientos";
}

<div class="container mt-3">
    <p class="bg-colorPagina rounded pt-1 pb-1 text-center font-weight-bold text-white">Seleccione los acientos</p>
    <div class="row mb-2">
        <div class="col-1">

        </div>
        <div class="col-4 text-center font-weight-bold h4">
            <img src="~/images/ordenador.png" width="60px" class="mt-1" />
        </div>
        <div class="col-7">

        </div>
    </div>
    <div class="row">
        <partial name="Asientos/_ModalAsientos" />
        <div class="col-3 text-left">
            <button type="button" class="btn btn-secondary mb-2 btn-sm ml-2 mr-2" id="asiento04">||||</button>Disponible<br />
            <button type="button" class="btn btn-secondary mb-2 btn-sm ml-2 mr-2" id="asiento04" disabled>||||</button> No Disponible
            @if (User.Identity.IsAuthenticated)
            {
                <div class="text-left ml-2 mt-4">
                    <button class="btn btn-danger" id="btnContinuar" data-toggle="modal" data-target="#ModalPasajero" style="width:200px">Continuar</button>
                </div>
            }
            else
            {
                <div class="text-left ml-2 mt-4">

                    <button style="" type="button" id="btnContinuar" class="btn btn-danger" data-toggle="modal" data-target="#ModalIniciarSesion2">
                        Continuar
                    </button>
                </div>
            }
            <partial name="Asientos/_ModalIniciarSesion" />
        </div>
        <div class="col-4">
            <br /><br />
            <div class="card border-danger text-center">
                <div class="card-body">
                    <p class="h5 text-danger">Resumen de Compra</p>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 bg-colorPagina text-left rounded text-white">
                            Nro: <span id="idItinerario">@ViewBag.IdItinerario</span>
                            <p class="mt-2">
                                <strong>@Model.AgenciaOrigen</strong> a <strong>@Model.AgenciaDestino</strong><br /><br />
                                <img src="~/images/usuario (1).png" class="mr-2" width="15px" /><strong id="DNIPasajeroDetalle">0</strong><br />
                                <img src="~/images/icon.png" class="mr-2" />
                                <strong>
                                    @if (Model.PrecioViaje <= 20)
                                    {
                                        <a id="tipoServicio">Oferta</a>
                                    }
                                    else
                                    {
                                        <a id="tipoServicio">Servicio Normal</a>

                                    }
                                </strong><br />
                                <label id="fechaViaje" style="display:none">@Model.HoraViaje</label>
                                <img src="~/images/calendario.png" class="mr-2" /><strong id="">@String.Format("{0:dd/mm/yyyy}", Model.HoraViaje)</strong> &nbsp;<img src="~/images/reloj.png" class="mr-1" /><strong id="">@String.Format("{0:HH:mm tt}", Model.HoraViaje)</strong><br />
                                <img src="~/images/sillon.png" class="mr-2" />Asiento:<span id="asientosSeleccionados"></span>
                            <p><img src="~/images/simbolo-del-dolar.png" class="mr-2" />Sub Total:<strong id="precio" class="ml-2">0</strong></p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="text-center">
                                    <a class="btn btn-dark font-weight-bold mb-4 btn-sm" data-toggle="modal" data-target="#ModalVisa" style="width:200px">Comprar Mi Viaje</a>
                                </div>
                            }
                            else
                            {
                                <div class="text-center">
                                    <button class="btn btn-dark font-weight-bold mb-4 btn-sm" data-toggle="modal" data-target="#ModalVisa" style="width:200px" disabled>Comprar Mi Viaje</button>
                                </div>
                            }
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<partial name="Asientos/_ModalVisa" />
<partial name="Asientos/_ModalPasajero" />
@section Scripts{
    <script src="~/js/Pasaje/Pasaje.js"></script>
}