@model List<Buses.Entities.ItinerarioViaje>
@{
    ViewData["Title"] = "Index";
}
<div class="container mt-3">
    <p class="bg-colorPagina rounded pt-1 pb-1 text-center font-weight-bold text-white">Seleccione su hora de viaje</p>
    <h5>
        Viaje de <strong class="text-danger">@ViewBag.Origen</strong>
        a <strong class="text-danger">@ViewBag.Destino</strong>
    </h5>
    <div class="rounded">
        <br />
        @foreach (var item in Model)
        {
            <br />
            <div class="card text-center">
                <div class="card-header">
                    <div class="h6"><strong>@item.AgenciaDestino</strong> &nbsp;&nbsp;&nbsp; Fecha viaje: @String.Format("{0:dd/mm/yyyy}", item.HoraViaje) &nbsp;&nbsp;&nbsp;hora viaje: @String.Format("{0:HH:mm}", item.HoraViaje)</div>
                    
                </div>
                <div class="card-body">
                    <img src="@Url.Content("~/images/Destinos/" + item.IdItinerario+ ".jpg")" width="120px" class="bordesNegro" /> &nbsp;&nbsp;&nbsp;-------------------------
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-danger font-weight-bold text-white">
                        Comprar
                    </a>
                </div>
            </div>
        }
    </div>
    <br /><br /><br /><br /><br />
</div>

