@model List<Buses.Entities.ItinerarioViaje>
@{
    ViewData["Title"] = "Index";
}
<div class="container mt-3">
    <p class="bg-colorPagina rounded pt-1 pb-1 text-center font-weight-bold text-white">Seleccione su hora de viaje</p>
    <h5>
        Viaje de <strong class="text-danger">@ViewBag.Origen</strong>
        a <strong class="text-danger">@ViewBag.Destino</strong>
    </h5>
    <div class="rounded">
        <div class="row">
            <div class="col-8">
                <br />
                @foreach (var item in Model)
                {
                    <br />
                    <div class="card text-center border-danger">
                        <div class="card-header">
                            <div class="h6"><strong>@item.AgenciaDestino</strong> &nbsp;&nbsp;&nbsp; Fecha viaje: @String.Format("{0:dd/mm/yyyy}", item.HoraViaje) &nbsp;&nbsp;&nbsp;hora viaje: @String.Format("{0:HH:mm}", item.HoraViaje)</div>
                        </div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-8">
                                        <img src="@Url.Content("~/images/Origen/" + item.IdAgencia+ ".jpg")" width="150px" class="bordesNegro" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                                        <img src="@Url.Content("~/images/Destinos/" + item.IdItinerario+ ".jpg")" width="150px" class="bordesNegro" />
                                    </div>
                                    <div class="col-2 text-left">
                                        <a class="btn btn-danger font-weight-bold text-white mt-1 btn-sm mb-1">
                                            @item.PrecioViaje $
                                        </a>

                                        <a asp-route-IdItinerario="@item.IdItinerario" asp-action="Asientos" asp-controller="Pasaje" class="btn btn-outline-danger btn-sm mb-1" id="comprarPasaje">
                                            Comprar
                                        </a>

                                        @if (item.PrecioViaje > 20)
                                        {
                                            <button class="btn btn-outline-danger mr-3 btn-sm mb-1">Reservar</button>
                                        }
                                        <a asp-action="Index" asp-controller="PaginaPrincipal" class="btn btn-outline-danger mr-3 btn-sm">Ir Al Menu</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                }
            </div>
            <partial name="Index/_ResuemenCompra"/>
        </div>
    </div>
    <br /><br /><br /><br /><br />
</div>
