
<div class="container">
    <h3>Promociones</h3>
    <br />
    @foreach (var lstAgenciasPromociones in Model.AgenciasPromocionesAgrupado)
    {
        <div class="row text-center">
            @foreach (var agenciaPromocion in lstAgenciasPromociones)
            {
                <div class="col-3 pt-2" id="promociones">
                    <div class="card" style="width: 18rem;">
                        <img src="@Url.Content("~/images/Destinos/" + @agenciaPromocion.IdItinerario + ".jpg")" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@agenciaPromocion.AgenciaOrigen - @agenciaPromocion.AgenciaDestino</h5>
                            <p class="card-text"><strong>@agenciaPromocion.PrecioViaje $</strong>&nbsp;&nbsp;&nbsp;&nbsp;<s class="text-danger">50.00 $</s></p>
                            <a href="#" class="btn btn-outline-danger">Viajar a @agenciaPromocion.AgenciaDestino</a> |
                            <a href="#" class="btn btn-outline-danger">Detalles</a>
                            @*<a class="text-xl-left">@String.Format("{0:MM/dd/yyyy}", agenciaPromocion.HoraViaje)</a>*@
                        </div> 
                    </div>
                </div>
            }
        </div>
    }
</div>