@model Buses.Models.AgenciaViajesViewModel
@{
    ViewData["Title"] = "Pagina Principal";
    var numero = 0;
}
<partial name="Index/_BusquedaViaje" />
<br />
<br />
<div class="container">
    <div class="row bordeSteve">
        <div class="col-1 text-center">
            <img src="~/images/autobu.png" width="100" />
        </div>
        <div class="col-11 text-center pt-3">
            <p class="font-weight-bold">PRIMER Válido solo para usuarios AHORRA HASTA 10% EN DE BUS!¡AHORRA HASTA 10% EN DE BUS!</p>
            <p>Usa el código: P solo para usuarios solo para usuarios PRIMER Válido solo para usuarios PRIMER Válido solo para usuarios</p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row text-center">
        <div class="col-4" id="mochila">
            <div class="card negroBorder" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/mochilag.png" class="" alt="imagenDeMochila" id="" width="170">
                    <div class="card-body">
                        <h5 class="card-title">¡Viaja y Ahorra!</h5>
                        <p class="card-text">
                            Válido para antiguos y nuevos usuarios
                        </p>
                        <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card negroBorder" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/tarjetasDescuento.png" class="" alt="..." width="170">
                    <div class="card-body">
                        <h5 class="card-title">Promos Viajeras</h5>
                        <p class="card-text">
                            Solo por tiempo limitado
                            Conócelos aquí
                        </p>
                        <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card negroBorder" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/iconoPersona.png" class="" alt="..." width="170">
                    <div class="card-body">
                        <h5 class="card-title">¡Invita y Gana!</h5>
                        <p class="card-text">
                            Tu amigo gana S/ 15 en su monedero
                            Comparte tu código
                        </p>
                        <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <h3>Promociones</h3>
    <br />
    @foreach (var item in Model.AgenciasPromociones)
    {
        <div class="row">

            @if (numero == 0)
            {
                <div class="card mt-2 mb-2 col-4">
                    <div class="card-header">@item.AgenciaDestino</div>
                    <div class="card-header">@item.AgenciaDestino</div>
                    <div class="card-body">
                        @item.HoraViaje<br />
                    </div>
                    <div class="card-footer">@item.PrecioViaje</div>
                </div>
                numero++;
            }
            else if (numero == 1)
            {
                <div class="card mt-2 mb-2 col-4">
                    <div class="card-header">@item.AgenciaDestino</div>
                    <div class="card-header">@item.AgenciaDestino</div>
                    <div class="card-body">
                        @item.HoraViaje<br />
                    </div>
                    <div class="card-footer">@item.PrecioViaje</div>
                </div>
                numero++;
                break;
            }
            else
            {
                <div class="card mt-2 mb-2 col-4">
                    <div class="card-header">@item.AgenciaDestino</div>
                    <div class="card-header">@item.AgenciaDestino</div>
                    <div class="card-body">
                        @item.HoraViaje<br />
                    </div>
                    <div class="card-footer">@item.PrecioViaje</div>
                </div>
                numero=0;
                break;
            }
        </div>
    }
</div>
<br />
<br />
<div class="container">
    <div class="row bg-danger rounded-lg">
        <div class="col-4 align-self-center text-center">
            <h3 class="text-white">Asegura tu viaje con</h3>
            <h1 class="text-white">¡RED BUS!</h1>
        </div>
        <div class="col-4 align-self-center text-center">
            <img src="~/images/turistico.png" width="80" id="imagenTuristico" onmouseover='zoom()' mouseout='desZoom()' />
            <img src="~/images/turista.png" width="180" />
        </div>
        <div class="col-4 align-self-center text-center ">
            <img src="~/images/equipaje.png" width="180" />
        </div>
    </div>
</div>
<br />
<br />
<div class="container text-center">
    <h2>Descubre el Perú, elige tu destino</h2>
</div>
<partial name="Index/_Slider" />
<br />
<div class="container">
    @foreach (var item in Model.Agencias)
    {
        <div class="card mt-2 mb-2 ">
            <div class="card-header">@item.NombreAgencia</div>
            <div class="card-body">
                @item.Correo<br />
                @item.Telefono
            </div>
            <div class="card-footer">@item.EstadoAgencia</div>
        </div>
    }
</div>
<!-- nuestra Promesa -->
<partial name="Index/_NuestraPromesa" />

<br />
<br />
<br />
<br />
<!-- Formas u opciones de pago -->
<partial name="Index/_OpcionesPago" />
